.DS_Store
.idea
.vscode
.env
/logs
/data
/.project
.docker-sync
/jenkins/jenkins_home
/www

/logstash/pipeline/*.conf
/logstash/config/pipelines.yml

/nginx/ssl/*.crt
/nginx/ssl/*.key
/nginx/ssl/*.csr

/.devcontainer/*
!/.devcontainer/devcontainer.example.json
!/.devcontainer/docker-compose.extend-example.yml
